@font-face {
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/FrederickatheGreat-Regular.ttf) format('woff2');
    
  }
  @font-face {
    font-family: 'Gabelisa';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/gabelisa.otf) format('woff2');
    
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(./fonts/Montserrat-Thin.ttf) format('woff2');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(./fonts/Montserrat-ExtraLight.ttf) format('woff2');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(./fonts/Montserrat-Light.ttf) format('woff2');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Montserrat-Regular.ttf) format('woff2');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./fonts/Montserrat-Medium.ttf) format('woff2');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./fonts/Montserrat-SemiBold.ttf) format('woff2');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/Montserrat-Bold.ttf) format('woff2');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(./fonts/Montserrat-ExtraBold.ttf) format('woff2');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(./fonts/Montserrat-Black.ttf) format('woff2');
  }